package ${package}.${moduleName}.api.request;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import java.util.List;
/**
 * @author l2503
 * @date 2022-02-07
 */
@Data
@Builder
@AllArgsConstructor
public class ${api.className}Request {

    ##    #if($pathParam.size>0)
    ##    private String[] pathParam;
    ##    #end

    #if($api.requestBody && $api.requestBody.size() >0)
        private BodyParam requestBody;

        @Data
        @Builder
        @AllArgsConstructor
        public static class BodyParam {
            #foreach ($column in $api.requestBody)
                #if($column.properties)
                    #digui($column)
                #else
                    private $column.attrType $column.attrname;
                #end
            #end
        }
    #end
    #if($api.requestFormData && $api.requestFormData.size() >0)
        private RequestFormData requestFormData;

        @Data
        @Builder
        @AllArgsConstructor
        public static class RequestFormData {
            #foreach ($column in $api.requestFormData)
                private $column.attrType $column.attrname;
            #end
        }
    #end

    #if($api.requestParam && $api.requestParam.size() >0)
        private RequestParam requestParam;

        @Data
        @Builder
        @AllArgsConstructor
        public static class RequestParam {
            #foreach ($column in $api.requestParam)
                private $column.attrType $column.attrname;
            #end
        }
    #end
    #if($api.requestHeader && $api.requestHeader.size() >0)
        private RequestHeader requestHeader;

        @Data
        @Builder
        @AllArgsConstructor
        public static class RequestHeader {
            #foreach ($column in $api.requestHeader)
                private $column.attrType $column.attrname;
            #end

        }
    #end


    #macro(digui $column)
        #if($column.isArray)
            private List<${column.attrType}Properties> $column.attrname;
        #else
            private ${column.attrType}Properties $column.attrname;
        #end
        @Data
        @Builder
        @AllArgsConstructor
        public static class ${column.attrType}Properties {
            #foreach ($childColumn in $column.properties)
                #if($childColumn.properties)
                    #digui($childColumn)
                #else
                    #if($childColumn.isArray)
                        private List<$childColumn.attrType> $childColumn.attrname;
                    #else
                        private $childColumn.attrType $childColumn.attrname;
                    #end
                #end
            #end
        }
    #end

}
 